body {
    background-color: #0E050F;
    color: #9388a2;
}
.navbar{
    border-bottom: 1px solid #9388a2;
}
.navbar a{
   color: #9388a2;
   font-weight: bold;
}
.navbar .nav-link:hover{
    color: #ddd1ee;
 }

.card {
    background-color: #341948;
}
